{% extends "menu.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="page">

{% if bg %}
	<h1> Рекламни Услуги</h1>
<br/>
	<h2>Контакт за реклама</h2>
	<p> За да рекламирате на нашия сайт, моля пишете на <a href="mailto:bulgariancommunity@yahoo.ca"> bulgariancommunity [at] yahoo [dot] ca </a> с вида реклама, който Ви интересува, и необходимите материали (ако са готови).
	</p>
	<h2>Банер</h2>
	<p> Банера е рекламно поле в лявото навигационно меню, което се явява на всяка страница. 
		При всяко презареждане на сайта три от активните банери се показват на равностоен случаен принцип. 
		Цените обявени по-долу са за включване на рекламен банер в ротацията. 
		При кликване на банера посетителят се отвежда или към страница, определена от рекламодателя, или към страница на този сайт с текстови подробности за бизнеса или услугата (<a href="/{{prefix}}/samplead">вижте пример тук</a>).</p>
	<p>Банера трябва да представлява графика с размери 200 на 50 пиксела. Рекламната цена НЕ включва изработка на графика.
		</p>
		<p><strong>Необходими материали: </strong> графика (200х50 пиксела), име на фирмата/услугата, кратък рекламен текст (до 200 думи, поне на два езика), име, адрес и/или телефон за контакти, и евентуално външна интернет страница</p>
	
			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">Обща тарифа</td><td class="bold">За членове</td><td><a class="ad" href="/{{prefix}}/join">Станете член</а></td></tr>
				<tr><td class="bold">3 месеца</td><td>60</td><td>45</td><td>-25%</td></tr>
				<tr><td class="bold">6 месеца</td><td>100</td><td>75</td><td>-25%</td></tr>
				<tr><td class="bold">12 месеца</td><td>160</td><td>120</td><td>-25%</td></tr>
			</table>
			<br/>
	<h2>Връзка (Линк)</h2>
	<p> Този вариант предоставя възможност да се добави бизнес или услуга в <a href="/{{prefix}}/links">списъка на полезни връзки </a> на сайта.
		Връзката е с максимална дължина 80 символа и трябва да води към външна страница. За разлика от банерите, връзките нямат краен срок и ще остават на сайта
		докато са полезни. Те ще бъдат свалени само ако водят до стара или несъществуваща страница повече от три месеца.
		 </p>
		<p><strong>Необходими материали: </strong> текст на връзката (до 80 символа), URL на външна страница, евентуално категория на бизнеса/услугата </p>

			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">Обща тарифа</td><td class="bold">За членове</td><td><a class="ad" href="/{{prefix}}/join">Станете член</а></td></tr>
				<tr><td class="bold">Връзка</td><td>20</td><td>10</td><td>-50%</td></tr>
				
			</table>
	<br/>
	<h2>Електронна поща</h2>
	<p> Тази услуга представлява еднократно изпращане на електронно съобщение (до 200 думи) до всички адреси в списъка на дружеството (в момента около 300).</p>
	<p><strong>Необходими материали: </strong> текст (до 200 думи), най-много една прикачена графика (размер до 500kb)

			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">Обща тарифа</td><td class="bold">За членове</td><td><a class="ad" href="/{{prefix}}/join">Станете член</а></td></tr>
				<tr><td class="bold">Съобщение</td><td>30</td><td>20</td><td>-33%</td></tr>

			</table>
		<br/>
			<h2> Плащане </h2>
			<p>	 Плащания сe извършват с кредитна карта чрез PayPal онлайн, с чек или в брой. След договаряне на условията за реклама, ще ви бъде изпратена електронна поща с крайната сума и с връзка към сайта на PayPal.
			</p>
			<br/><br/>
			
		* Българското дружество си запазва правото да откаже да разпространява или рекламира информация, за която мнозинството от ръководството реши, че
		противоречи на целите и облика му. Това включва обидни, расистки, и нецензурни материали и услуги, както и материали, предизвикващи към агресия или омраза.
{%else%}	
{% if en %}
	<h1> Advertising Rates</h1>

	<h2>Advertising contact</h2>
	<p> To advertise on our site, please e-mail <a href="mailto:bulgariancommunity@yahoo.ca"> bulgariancommunity [at] yahoo [dot] ca </a>, with the type of advertisement you're interested in and the necessary materials (if available).
	</p>
	<h2>Banner</h2>
	<p> A banner is a graphical advertising field in the left navigation pane, which appears on every page on the site.
		On every reload, three of the active banners are selected randomly with equal probability and shown on the page.
		The prices below are for inclusion of an advertising banner in this rotation.
		When a visitor clicks on a banner, they are redirected either to an external page or to a site-generated page with a brief description of the service and contact information (<a href="/{{prefix}}/samplead">example</a>).</p>
	<p>The banner should be an image of size 200x50 pixels. The cost of advertising does NOT include the creation of such a graphic.
		</p>
		<p><strong>Required materials: </strong> image (200x50 pixels), name of the company/service, short advertising paragraph (200 words max, written in at least two languages), name, address and/or phone number and, optionally, a web page URL</p>
	
			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">General Rate</td><td class="bold">Member Rate</td><td><a class="ad" href="/{{prefix}}/join">Become a member</а></td></tr>
				<tr><td class="bold">3 months</td><td>60</td><td>45</td><td>-25%</td></tr>
				<tr><td class="bold">6 months</td><td>100</td><td>75</td><td>-25%</td></tr>
				<tr><td class="bold">12 months</td><td>160</td><td>120</td><td>-25%</td></tr>
			</table>
			<br/>
	<h2>Link</h2>
	<p> This option gives a company or service the opportunity to be listed on our site's <a href="/{{prefix}}/links">list of useful links </a>.
		The link text is no more than 80 characters and it must redirect to an external existing webpage. Unlike banners, links do not expire and they will
		remain on the site while they are useful. A link will be removed only if it points to an outdated or nonexistent page for
		more than 3 months.
		 </p>
		<p><strong>Required materials: </strong> link text (80 characters max), URL of the external page, and optionally a category that the company/service belongs to </p>

			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">General Rate</td><td class="bold">Member Rate</td><td><a class="ad" href="/{{prefix}}/join">Become a member</а></td></tr>
				<tr><td class="bold">Link</td><td>20</td><td>10</td><td>-50%</td></tr>
				
			</table>
	<br/>
	<h2>Group E-mail</h2>
	<p> This service consists of sending a one-time e-mail (up to 200 words) to every e-mail on the Community's mailing list (currently around 300).</p>
	<p><strong>Required materials: </strong> text (200 words max), at most one attached image (500kb max)

			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">General Rate</td><td class="bold">Member Rate</td><td><a class="ad" href="/{{prefix}}/join">Become a member</а></td></tr>
				<tr><td class="bold">E-mail</td><td>30</td><td>20</td><td>-33%</td></tr>

			</table>
		<br/>
			<h2> Payment Methods </h2>
			<p>	 Payment can be made using a credit card (via PayPal), by cheque or in cash. Once the conditions of the advertisement have been negotiated,
				you will receive an e-mail invoice with a link to PayPal.
			</p>
			<br/><br/>
			
		* The Bulgarian community reserves the right to refuse to disseminate any material that goes against its mission and image.
		This includes crude, racist and inappropriate materials and services, as well has hateful or inciting materials.
{%else%}


	<h1> Taux Publicité</h1>

	<h2>Contact Publicité</h2>
	<p> Pour annoncer sur notre site, s'il vous plaît envoyez un courriel à <a href="mailto:bulgariancommunity@yahoo.ca"> bulgariancommunity [at] yahoo [dot] ca </a>, avec le type de publicité qui vous intéresse et le matériel nécessaire (si disponible).
	</p>
	<h2>Une Bannière</h2>
	<p> La bannière est une domaine de la publicité graphique dans le volet de navigation de gauche, qui apparaît sur chaque page du site. A chaque recharge, trois des bannières actives sont sélectionnés au hasard avec une probabilité égale et indiquées sur la page. Les prix ci-dessous sont à l'inscription d'une bannière publicitaire dans cette rotation. Lorsqu'un visiteur clique sur une bannière, il est redirigé soit vers une page externe ou à une page de site généré avec une brève description de la fonction et les coordonnées (<a href="/{{prefix}}/samplead">par exemple</a>).</p>
	<p>La bannière doit être une image de taille 200x50 pixels. Le coût de la publicité n'inclut pas la création d'un tel graphique.
		</p>
		<p><strong>Matériel requis: </strong> image (200x50 pixels), le nom de l'entreprise ou du service, la publicité à court paragraphe (200 mots maximum, rédigé dans au moins deux langues), nom, adresse et/ou numéro de téléphone et, éventuellement, une site web</p>
	
			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">Taux général</td><td class="bold">Taux membres</td><td><a class="ad" href="/{{prefix}}/join">Devenez membre</а></td></tr>
				<tr><td class="bold">3 mois</td><td>60</td><td>45</td><td>-25%</td></tr>
				<tr><td class="bold">6 mois</td><td>100</td><td>75</td><td>-25%</td></tr>
				<tr><td class="bold">12 mois</td><td>160</td><td>120</td><td>-25%</td></tr>
			</table>
		<br/>
	<h2>Un Lien</h2>
	<p> Cette option donne à une entreprise ou d'un service la possibilité d'être inscrits sur la <a href="/{{prefix}}/links">liste des liens utiles</a> de notre site. Le texte du lien ne dépasse pas 80 caractères et il doit rediriger vers une page externe existant. Contrairement aux bannières, liens n'expirent pas et elles resteront sur le site alors qu'ils sont utiles. Un lien sera retiré que si elle pointe vers une page inexistante ou dépassée pendant plus de 3 mois.
		 </p>
		<p>Matériel requis: le texte du lien (80 caractères max), URL de la page externe, et éventuellement une catégorie à que l'enterprise ou le service appartient </p>

			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">Taux général</td><td class="bold">Taux membres</td><td><a class="ad" href="/{{prefix}}/join">Devenez membre</а></td></tr>
				<tr><td class="bold">Lien</td><td>20</td><td>10</td><td>-50%</td></tr>
				
			</table>
	<br/>
	<h2>Courriel</h2>
	<p> Ce service consiste à envoyer une seule fois le courriel (jusqu'à 200 mots) à chaque contacte sur la liste de diffusion de la Communauté (actuellement autour de 300).</p>
	<p><strong>Matériel requis:</strong> texte (200 mots max), au plus une image (500 Kb max)

			<table class="rates">
				<tr><td style="width:100px;"></td><td class="bold">Taux général</td><td class="bold">Taux membres</td><td><a class="ad" href="/{{prefix}}/join">Devenez membre</а></td></tr>
				<tr><td class="bold">Courriel</td><td>30</td><td>20</td><td>-33%</td></tr>

			</table>
			<br/>
			<h2> Modes de paiement </h2>
			<p>	 Le paiement peut être effectué par carte de crédit (via PayPal), par chèque ou en espèces. Une fois les conditions de la publicité ont été négociés, vous recevrez une facture e-mail avec un lien vers PayPal.
			</p>
			<br/><br/>
			* Le communauté bulgare se réserve le droit de refuser de diffuser tout matériel qui va à l'encontre de sa mission et du son image. Cela inclut brut, des documents racistes et inappropriées et des services, ainsi que des matériaux a des propos haineux ou incitant.
			






{%endif%}

{%endif%}
</div>

{% endblock %}