{% extends "menu.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="page">

{% if bg %}
	<h1> БУРЕТО - Български учебен работно-експериментален театър в Отава </h1>
	<br>
	
<h2> Устав </h2>
	<p> Можете да прочетете устава ни <a href="#">тук</a>. </p>
			
{%else%}	
{% if en %}
<h1> Bulgarian Students' Experimental Theatre of Ottawa - BURETO </h1>
<br>
<h2> Constitution </h2>
<p> You can read our constitution <a href="#">here</a>. </p>

{% else %}
<h1> Theatre experimentale des etudiant(e)s d'Ottawa - BURETO</h1>
<br>
<h2> La constitution </h2>
	<p> Lisez notre constitution <a href="#">ici</a>. </p>
			






{%endif%}

{%endif%}
</div>

{% endblock %}